* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 80%;
    max-width: 1000px;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Footer */

	#footer .icons {
		color: #aaaaaa;
	}

	#footer .copyright {
		color: #aaaaaa;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.5em;
		font-weight: 400;
		letter-spacing: 0.25em;
		text-transform: uppercase;
	}

	body.single #footer {
		text-align: center;
	}

/* Style pour le formulaire de recherche */
#search-form {
  display: flex; /* Utilise flexbox pour aligner les éléments en ligne */
  align-items: center; /* Aligne les éléments verticalement au centre */
  gap: 8px; /* Espace entre l'input et le bouton */
}

#search-input {
  flex: 1; /* L'input prend tout l'espace disponible */
  padding: 10px 40px; /* Ajoute un peu de padding à l'input */
  border: 1px solid #ccc; /* Bordure grise pour l'input */
  border-radius: 4px; /* Coins arrondis pour l'input */
  font-size: 16px; /* Taille de la police pour l'input */
}

#btn-search {
  padding: 0px 5px; /* Padding pour le bouton */
  border: none; /* Supprime la bordure par défaut du bouton */
  border-radius: 4px; /* Coins arrondis pour le bouton */
  background-color: #007bff; /* Couleur de fond bleue pour le bouton */
  color: #fff; /* Texte en blanc */
  font-size: 10px; /* Taille de la police pour le bouton */
  cursor: pointer; /* Curseur pointer pour le bouton */
  transition: background-color 0.3s; /* Transition pour le changement de couleur */
}

#btn-search:hover {
  background-color: #0056b3; /* Couleur de fond plus foncée au survol */
}
